<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Gold Invest </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="logo">🤖 Gold Invest</div>
    <div class="subtitle">Investir. Progresser. Sécuriser.</div>
    <div class="description">
        Découvrez l’avenir du trading crypto automatisé<br>
        grâce à notre intelligence artificielle rapide,<br>
        sécurisée et performante.
    </div>
    <div class="button-container">
        <a href="{{ url_for('login') }}">Connexion</a>
        <a href="{{ url_for('register') }}">Inscription</a>
    </div>
</div>

</body>
</html>
